@import 'tailwindcss';

@font-face {
  font-family: 'circular-web';
  font-display: swap;
  src: url('/fonts/circularweb-book.woff2') format('woff2');
  /* font-style */
  /* font-weight */
}

@font-face {
  font-family: 'general-sans';
  font-display: swap;
  src: url('/fonts/general.woff2') format('woff2');
}

@font-face {
  font-family: 'robert-medium';
  font-display: swap;
  src: url('/fonts/robert-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'robert-regular';
  font-display: swap;
  src: url('/fonts/robert-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'zentry-regular';
  font-display: swap;
  src: url('/fonts/zentry-regular.woff2') format('woff2');
}

@theme {
  --color-babyBlue-50: #dfdff0;
  --color-babyBlue-75: #dfdff2;
  --color-babyBlue-100: #f0f2fa;
  --color-babyBlue-200: #010101;
  --color-babyBlue-300: #4fb7dd;
  --color-neonViolet-300: #5724ff;
  --color-neonYellow-100: #8e983f;
  --color-neonYellow-300: #edff66;
  /* custom fonts */
  --font-circular-web: 'circular-web', sans-serif;
  --font-general-sans: 'general-sans', sans-serif;
  --font-robert-medium: 'robert-medium', sans-serif;
  --font-robert-regular: 'robert-regular', sans-serif;
  --font-zentry-regular: 'zentry-regular', sans-serif;

  --line-animation: line-animation 1s infinite;
}

html {
  @apply scroll-smooth;
}

.special-font {
  font-feature-settings: 'ss01' on;
}

.about-image {
  clip-path: polygon(38% 23%, 55% 8%, 70% 74%, 35% 88%);
}

.nav-hover-effect {
  @apply relative after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 after:bg-babyBlue-50 cursor-pointer;
}

.audio-btn-line {
  animation-delay: calc(var(--animation-delay) * 0.1s);
}

.story-img-container {
  @apply relative w-full h-[75vh];
  filter: url('#flt_tag');
}

.story-img-mask {
  @apply absolute left-0 top-0 size-full overflow-hidden md:left-[10%] md:top-[-10%];
  clip-path: polygon(4% 0, 83% 21%, 100% 80%, 0% 100%);
}

.story-img-content {
  @apply absolute w-[80%] opacity-100 left-10 top-16 md:left-0 md:top-10 lg:left-[-10px] lg:top-[-100px];
  transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0) scale(1);
}

.swordman-clip-path {
  clip-path: polygon(16% 0, 89% 15%, 75% 100%, 0 97%);
}

.contact-clip-path-1 {
  clip-path: polygon(25% 0%, 74% 0, 69% 64%, 34% 73%);
}

.contact-clip-path-2 {
  clip-path: polygon(29% 15%, 85% 30%, 50% 100%, 10% 64%);
}

@keyframes line-animation {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1.3);
  }
  100% {
    transform: scaleY(0);
  }
}

.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: var(--color-neonYellow-300);
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: '';
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
    ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}
